github "jrendel/SwiftKeychainWrapper"       ~> 3.2.0
github "DaveWoodCom/XCGLogger"              ~> 7.0
github "SwiftyJSON/SwiftyJSON"              ~> 5.0
github "google/EarlGrey"                    ~> 1.15
github "mozilla/application-services"       "v0.32.3"
