// Display name
BUNDLE_DISPLAY_NAME = Cliqz

// Bundle Identifier
APP_BUNDLE_ID = com.cliqz

// Marketing version
APP_MARKETING_VERSION = 3.7.0

// URL Scheme
USER_AGENT_URL_SCHEME = Cliqz

// User Activity Types
USER_ACTIVITY_TYPES= $(APP_BUNDLE_ID).activity.types

APP_DEVELOPMENT_TEAM = 2UYYSSHVUH

EXTENSION_OPEN_IN_APP_BUNDLE_ID_POSTFIX = OpenIn
