// Display name
BUNDLE_DISPLAY_NAME = WhiteLabel

// Bundle Identifier
APP_BUNDLE_ID = com.whiteLabel

// Marketing version
APP_MARKETING_VERSION = 1.0.0

// URL Scheme
USER_AGENT_URL_SCHEME = WhiteLabel

// User Activity Types
USER_ACTIVITY_TYPES= $(APP_BUNDLE_ID).activity.types

APP_DEVELOPMENT_TEAM = XXXXXXXXXX

EXTENSION_OPEN_IN_APP_BUNDLE_ID_POSTFIX = WhiteLabelOpenIn
